@media (max-width: 1300px) {
  .allproducts {
    margin-left: 350px;
  }
}
@media (max-width: 1250px) {
  .navsecond a {
    right: -150px;
  }
  .container2_items_grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .container3_content_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1175px) {
  .allproducts {
    margin-left: 300px;
  }
}
@media (max-width: 1100px) {
  .navbar_first_content {
    left: 150px;
  }
}
@media (max-width: 1065px) {
  .logo {
    margin-left: 10px;
  }
}
@media (max-width: 1030px) {
  .search input {
    display: none;
  }
  .search {
    background-color: white;
  }
  .search span {
    margin-bottom: 10px;
  }
  .header_right {
    gap: 0px;
    align-items: center;
    justify-content: center;
  }

  .container1_content_first {
    margin-top: 20px;
    row-gap: 10;
    align-self: flex-start;
  }
}
@media (max-width: 910px) {
  .allproducts {
    margin-left: 200px;
  }
  .container3_content_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 900px) {
  .unordered_list1 {
    display: none;
    background-color: rgb(128, 128, 128, 0.5);
    position: fixed;
    text-align: center;
    z-index: 1;
    height: 120px;
    width: 150px;
    position: absolute;
    display: block;
    left: auto;
    right: 100px;
    top: 140px;
    visibility: hidden;
    transition: all 0.3s;
    border-radius: 8px;
  }
  .checkbtn #bars {
    display: block !important;

    margin-left: 300px;
  }
  .checkbtn {
    display: block !important;
  }
  #check:checked ~ .unordered_list1 {
    visibility: visible;
  }
}
@media (max-width: 870px) {
  .container3_content_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .logo {
    margin-right: 100px;
  }
  .navfirst a {
    display: none;
  }
  .navfirst h5 {
    /* display: none; */
  }
}
@media (max-width: 815px) {
  .container2_items_grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 805px) {
  .navbar_second {
    margin-right: 0px;
  }
}

@media (max-width: 780px) {
  .navfirst h5 {
    margin-left: -100px;
  }
  .allproducts {
    margin-left: 10px;
  }
}

@media (max-width: 706px) {
  .checkbtn #bars {
    position: absolute;
    margin-left: 100px;
    margin-top: -13px;
  }
}

@media (max-width: 675px) {
  .navsecond a {
    right: -110px;
  }
}
@media (max-width: 635px) {
  .container2_items_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .navsecond a {
    right: -90px;
  }
  .navfirst h5 {
    margin-left: -150px;
  }
}
@media (max-width: 610px) {
  .container3_content_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 590px) {
  .checkbtn #bars {
    position: absolute;
    margin-left: 50px;
  }
}
@media (max-width: 563px) {
  .navfirst h5,
  .navsecond h5 {
    font-size: 11px;
    font-weight: 350;
  }
}
@media (max-width: 490px) {
  .checkbtn #bars {
    margin-left: 10px;
  }
}
@media (max-width: 465px) {
  .container1_content_first h1 {
    padding-left: 0px;
  }
}
@media (max-width: 457px) {
  .navsecond {
    display: none;
  }
  .container2_items_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 450px) {
  .allproducts {
    margin-left: -5px;
    padding: 10px;
  }
}
@media (max-width: 415px) {
  .checkbtn #bars {
    margin-left: 1px;
  }
  .wrapper2 .datapdt {
    margin-left: 0px;
  }
}
@media (max-width: 388px) {
  .logo {
    margin-right: -5px;
  }
}
@media (max-width: 330px) {
  .container1_content_first h1 {
    font-size: 35px;
    font-weight: 450;
    line-height: 45px;
  }
  .allproducts {
    margin-left: -50px;
  }
}
@media (max-width: 1260px) {
  .container3_content_grid2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 960px) {
  .container3_content_grid2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 660px) {
  .container3_content_grid2 {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
}
